@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

li {
    list-style-type: none;
}

h1 {
    font-weight: 100;
    font-size: 60px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
}

.container {
    width: 1425px;
    margin: 0 auto;
}

/*header start*/

.home {
    background-image: url(../img/Graph.png), url(../img/Grid.png), url(../img/maintheme.png);
    background-position: center;
    background-position-y: 250px, 0px, 0px;
    background-repeat: no-repeat, no-repeat, repeat;
    height: 1215px;
}


.header nav {
    padding-top: 67px;
    padding-left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home .menu {
    display: flex;
    align-items: center;
}

.home .menu li {
    margin-right: 52px;
}

.home .menu .login {
    width: 130px;
    border: 1px solid #233a72;
    border-radius: 40px;
    padding: 17px 43px 18px;
    margin-right: 0;
}

.home .menu .login a {
    color: #5584ff;
}

.header {
    margin-bottom: 174px;
}


/*first section*/

.home .get-started {
    text-align: center;
    margin-bottom: 88px;
}

.home .get-started h1 {
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 60px;
}

.home .get-started h2 {
    font-weight: 400;
    font-size: 36px;
    color: #8492af;
}

.home .get-started .text {
    margin-bottom: 109px;
}

.home .get-started .btn {
    border: 1px solid #5584ff;
    background-color: #5584ff;
    padding: 17px 56px;
    border-radius: 40px
}

.home .div-dashboard {
    text-align: center;
    margin-bottom: 100px;
}

/*sec-section*/

.sec-section, .sec-section a {
    color: black;
}

.sec-section h3 {
    font-size: 24px;
    font-weight: 900;
    margin-right: 248px;
    width: 255px;
    padding-bottom: 33px;
    margin: 0 auto;
}

.sec-section .features div {
    width: 358px;
    text-align: center;
}

.sec-section .manage-your-workflow {
    background: url(../img/Inteligentny\ obiekt\ wektorowy.png)center no-repeat;
    background-position: top;
    padding-top: 145px;
    /* margin-left: 71px; */
}
.sec-section .analitycs-insights {
    background: url(../img/Inteligentny\ obiekt\ wektorowy2.png) center no-repeat;
    background-position: top;
    padding-top: 145px;
}
.sec-section .organize-your-deadlines {
    background: url(../img/Inteligentny\ obiekt\ wektorowy3.png)center no-repeat;
    background-position: top;
    padding-top: 145px; 
}


.sec-section .analitycs-insights h3 {
    margin-left: 70px;
}

.sec-section .organize-your-deadlines h3 {
    width: 277px;
}

.sec-section .features {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec-section p {
    color: #8492af;
    width: 358px;
    text-align: center;
    padding-bottom: 73px;
}

.sec-section .organize-your-deadlines p {
    margin-right: 0;
}

.sec-section a {
    border: 1px solid #dadee7;
    border-radius: 40px;
    padding: 18px 87px;
    font-weight: 900;
    /* margin-left: 54px; */
}

.sec-section .features {
    margin-bottom: 302px;
}

/*third section*/

.third-section {
    color: black;
}

.third-section h1 {
    margin-bottom: 20px;
}

.third-section .checked-p {
    background: url(../img/checked6.png) center no-repeat;
    background-position: left;
    padding-left: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #5584ff;
    margin-bottom: 10px;
    width: 390px;
}


.third-section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* .third-section .container {
    display: flex;
    align-items: center;
} */

.third-section .description {
    margin-left: 50px;
}

.third-section .description .first-p {
    color: #8492af;
    width: 590px;
    margin-bottom: 40px;
}

.third-section .description .second-p {
    color: #8492af;
    width: 567px;
    margin-bottom: 74px;
}

.third-section {
    margin-bottom: 127px;
}

/*pre last section*/

.pre-last-section {
    background: url(../img/Graph.png), url(../img/Grid.png), url(../img/maintheme.png);
    background-repeat: no-repeat, no-repeat, repeat;
    background-position-y: 35px, 0px, 0px;
    background-position-x: -207px, -200px,;
    padding-top: 82px;
}

.pre-last-section span {
    color: #8492af;
}

.pre-last-section h2 {
    margin-bottom: 32px;
}

.pre-last-section .first-title {
    background: url(../img/arrow\ kopia\ 3.png) center no-repeat;
    background-position: right;
}

.pre-last-section .progres-done {
    display: flex;
    width: 390px;
    padding-bottom: 204px;
    justify-content: space-between;
}

.pre-last-section .in-progres {
    margin-right: 50px;
}

.pre-last-section .task {
    display: flex;
    align-items: center;
}

.pre-last-section .taskImg {
    position: absolute;
    left: -43px;
    bottom: -203px;
}

.pre-last-section .hand {
    position: absolute;
    bottom: -183px;
    left: 360px;
    z-index: 1;
}

.pre-last-section .container {
    display: flex;
    justify-content: space-between;
}

.pre-last-section .taskImg:after {
    content: "";
    position: relative;
}

.pre-last-section .absolute-images {
    position: relative;
}


.pre-last-section .dropImg {
    padding-top: 7px;
}

.pre-last-section .drag-drop {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding-top: 53px;
    background: url(../img/Arrow\ left.png), url(../img/Arrow\ right.png);
    background-repeat: no-repeat, no-repeat;
    background-position-y: 355px, 355px;
    background-position-x: 0, 50px;
}

.pre-last-section .drag-drop h1 {
    width: 450px;
    margin-bottom: 50px;
}

.pre-last-section .drag-drop p {
    margin-bottom: 40px;
    color: #8492af;
}


/*last section*/

.last-section {
    color: black;
    margin-top: 103px;
}

.last-section .powerfull-template {
    text-align: center;
}

.last-section .powerfull-template p {
    color: #8492af;
    margin-top: 60px;
}

.last-section .screen-mockup {
    margin-top: 90px;
    text-align: center;
} 

.last-section .clean-modern, .easy-to-customize {
    position: absolute;
}

.last-section .absolute-div1, .absolute-div2 {
    position: relative;
}

.last-section .clean-modern {
    text-align: left;
    float: left;
    bottom: 460px;
    left: 20px;
}

.last-section .easy-to-customize {
    text-align: right;
    float: right;
    bottom: 165px;
    right: 20px;
}

.last-section .easy-to-customize .pINlast {
    margin-left: 450px;
}

.last-section .pINlast {
    width: 232px;
    color: #8492af;
}

/*exactly the last section/ pricing section*/

.pricing-section {
    color: black;
    padding-bottom: 100px;
}

.pricing-section .dec-price {
    color: #8492af;
    letter-spacing: 0.02em;
    background: url(../img/checked6.png) no-repeat center;
    padding-top: 10px;
    background-position-x: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
}

.pricing-section .h2-plan {
    text-transform: uppercase;
    color: black;
    font-weight: 400;
    font-size: 24px;
    margin-top: 49px;
    margin-bottom: 29px;
}


.pricing-section h3 {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 33px;
}

.pricing-section .title-pricing {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 105px;
}

.pricing-section .dollar {
    font-size: 40px;
}

.pricing-section .month {
    color: #8492af;
    font-size: 24px;
    font-weight: 400;
}

.pricing-section .primary-price {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between;
}

.primary-price .price {
    width: 359px;
    height: 421px;
    box-shadow: 0.5px 0.5px 50px rgba(0, 0, 0, 0.375);
}

.pricing-section .third-price {
    margin-right: 0;
}

.pricing-section .false-price {
    background: url(../img/Prostokąt\ 18\ kopia\ 3.png) center no-repeat;
    padding-top: 10px;
    background-position-x: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
}

.pricing-section .desc-btn p {
    text-align: center;
    color: #8492af;
    width: 900px;
    margin: 0 auto;
    margin-top: 112px;
    margin-bottom: 72px;
}

.pricing-section .desc-btn {
    text-align: center;
}

.pricing-section .join {
    color: white;
    background: #5584ff;
    border: 1px solid #5584ff;
    border-radius: 40px;
    padding: 17px 63px;
}

.pricing-section .btn {
    position: relative;
}

.pricing-section .btn:before {
    display: block;
    width: 227px;
    content: "";
    position: absolute;
    border-bottom: 1px solid #dadee7;
    top: 50%;
    right: 360px;
}

.pricing-section .btn:after {
    display: block;
    width: 227px;
    content: "";
    position: absolute;
    border-bottom: 1px solid #dadee7;
    top: 50%;
    left: 360px;
}

/*footer*/

footer {
    color: #8492af;
    background-color: #0e1a35;
}

footer .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 71px;
    padding-bottom: 67px;
}

footer ul {
    display: flex;
    align-items: center;
}

footer ul li {
    margin-right: 50px;
}

footer ul li a {
    color: #8492af;
}

footer img {
    margin-right: -30px;
}

footer .contact p {
    margin-left: 20px;
}

/*media screen*/

@media screen and (max-width: 1500px){
    .container {
        width: 1425px;
    }
}

@media screen and (max-width: 1430px) {
    .container {
        width: 1320px;
    }

    .third-section .responsive-img .img-mac {
        width: 100%;
    }

    .pre-last-section .drag-drop h1 {
        width: 390px;
    }

    .last-section .right-elipsa {
        width: 615px;
    }

    .last-section .left-elipsa {
        width: 615px;
    }

    .pricing-section .btn:before {
        right: 300px;
    }

    .pricing-section .btn:after {
        left: 300px;
    }
    
}

@media screen and (max-width: 1323px) {
    .container {
        width: 1200px;
    }

    .pricing-section .btn:before {
        right: 240px;
    }

    .pricing-section .btn:after {
        left: 240px;
    }

    .pre-last-section .container {
        flex-direction: column;
    }
    
    .pre-last-section .progres-done {
        padding-bottom: 70px;
    }

    .pre-last-section .drag-drop {
        padding-bottom: 30px;
    }

    .last-section .right-elipsa {
        width: 555px;
    }
    
    .last-section .left-elipsa {
        width: 550px;
    }
}

@media screen and (max-width: 1235px) {
    .last-section .mockup {
        width: 1200px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 1140px;
    }
    
    .pre-last-section .container {
        flex-direction: column;
    }

    .pre-last-section .progres-done {
        padding-bottom: 100px;
    }

    .pre-last-section .drag-drop {
        padding-bottom: 50px;
    }
    
    .last-section .mockup {
        width: 1140px;
        margin: 0 auto;
    }

    .last-section  .right-elipsa {
        width: 530px;
    }

    .last-section .left-elipsa {
        width: 525px;
    }

    .last-section .clean-modern {
        bottom: 430px;
    }

    .pricing-section .primary-price {
        margin: 0 auto;
    }

    .pricing-section .btn:before {
        right: 220px;
    }
    .pricing-section .btn:after {
        left: 220px;
    }
}

@media screen and (max-width: 1138px){
    .container {
        width: 992px;
    }

    .last-section .mockup {
        width: 992px;
    }

    .last-section .clean-modern {
        bottom: 360px;
    }

    .last-section .easy-to-customize {
        bottom: 130px;
    }

    .last-section .right-elipsa {
        width: 450px;
    }

    .last-section .left-elipsa {
        width: 455px;
    }

    .pricing-section .btn:before {
        right: 140px;
    }
    
    .pricing-section .btn:after {
        left: 140px;
    }

    .sec-section .features {
        flex-direction: column;
        margin-bottom: 151px;
    }

    .sec-section .features div {
        margin-bottom: 50px;
    }

    .sec-section .analitycs-insights h3 {
        margin-left: 50px;
    }

    .pricing-section .primary-price {
        flex-direction: column;
    }

    .pricing-section .price  {
        margin-bottom: 30px;
    }

    .first-section .dashboard {
        width: 992px;
        margin-top: 19px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 960px;
    }

    .header nav {
        padding-left: 0;
    }
    
    .header .menu li {
        margin-right: 24px;
    }

    .first-section .dashboard {
        width: 100%;
        margin-top: 73px;
    }

    .last-section .mockup {
        width: 100%;
    }

    .last-section .right-elipsa {
        width: 440px;
    }

    .last-section .left-elipsa {
        width: 440px;
    }

}

@media screen and (max-width: 960px) {
    .container {
        width: 768px;
    }

    .last-section .absolute-div1, .absolute-div2 {
        font-size: 14px;
    }
    .last-section .clean-modern {
        bottom: 285px;
    }
    .last-section .easy-to-customize {
        bottom: 100px
    }

    .last-section .right-elipsa {
        width: 350px;
    }
    .last-section .left-elipsa {
        width: 350px;
    }

    .pre-last-section img {
        width: 370px;
    }

    .pre-last-section .hand {
        width: 96px;
        left: 335px;
        bottom: -190px;
    }

    .pre-last-section .taskImg {
        width: 490px;
        left: -35px;
    }

    .pricing-section .desc-btn p {
        width: 100%;
    }

    .pricing-section .btn:before {
        right: 30px;
    }
    .pricing-section .btn:after {
        left: 30px;
    }

    .third-section .description {
        width: 450px;
        font-size: 14px;
    }
    .third-section .description h1 {
        font-size: 40px;
    }
    .third-section .description .first-p {
        width: 350px;
    }
    .third-section .description .second-p {
        width: 350px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 720px;
    }

    .first-section .dashboard {
        margin-top: 98px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 540px;
    }
}